<!DOCTYPE html>
<html lang="en">

	<!--Head-->
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Bertrand Choubert, Full-Stack Web Developer and Conceptor at Lyon, France. I design and develop innovative websites with modern technologies and languages.">
		<meta name="keywords" content="conceptor, developer, bertrand, choubert, website, web, front, front-end, back, back-end, full-stack, engineer, cs, it, computer, science, responsive, enthusiast, passionate">

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>


		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet" type='text/css'>

		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

		<!-- Material Design Bootstrap -->
		<link href="{{ site.baseurl }}/css/mdb.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">

		<!-- Favicons -->
		<link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
		<link href="{{ site.baseurl }}/favicon.ico" rel="icon">


	</head>
	<!--/Head-->


	<body id="topsection">

		<!--Navigation-->
		<nav id="nav" class="navbar navbar-dark navbar-expand-md sticky-top elegant-color-dark">

			<!-- Navbar brand -->
			<a class="navbar-brand" href="/">
				<img src="/img/wfavicon.png" alt="" height="30px">
				<!--<a class="navbar-brand" href="/">Multinerd ❤️</a> -->
			</a>

			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible content -->
			<div class="navbar-collapse collapse justify-content-between" id="navbarSupportedContent">

				<!--Links -->
				<ul class="nav navbar-nav nav-tabs">
					{% for p in site.pages %} {% if p.title %} {% if p.url == page.url %}
					<li class="nav-item waves-effect waves-light active"> {% else %}
					<li class="nav-item waves-effect waves-light"> {% endif %}
						<a id="aPanel{{ p.title }}" class="nav-link waves-effect waves-light" href="{{ site.baseurl }}{{ p.permalink }}">
							<i class="fa {{p.faicon}}" aria-hidden="true"></i>
							{{ p.title }} {% if p.url == page.url %}
							<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li> {% endif %} {% endfor %}
				</ul>

				<ul class="navbar-nav smooth-scroll">
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="#footer">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							Contact
						</a>
					</li>
				</ul>
				<!--/Links-->
			</div>
		</nav>
		<!--/Navigation-->




		<main>
{{ content }}
		</main>



		<!--Footer-->
		<footer id="footer" class="page-footer pt-4 elegant-color-dark">

			<!--Social Buttons-->
			<div class="footer-socials text-center mb-3 wow fadeIn" data-wow-delay="0.2s">

				<div class="container-fluid">
					<a id="footer-social-github" class="btn-floating btn-social-all" href="https://github.com/multinerd" target="_blank">
						<i class="fa fa-github left"></i> </a>

					<a id="footer-social-linkedin" class="btn-floating btn-social-all" href="https://www.linkedin.com/in/michael-hedaitulla/" target="_blank">
						<i class="fa fa-linkedin left"></i> </a>
				</div>
			</div>
			<!--/Social Buttons-->

			<!--Copyright-->
			<div class="footer-copyright text-center py-3 fadeIn" data-wow-delay="0.2s">
				<div class="container-fluid">
					© 2018 Copyright:
					<a href="https://multinerd.github.io"> multinerd.io </a>
					|
					<a href="https://multinerd.github.io"> multinerd.github.io </a>
				</div>
			</div>
			<!--/Copyright-->

		</footer>
		<!--/Footer-->




		<!-- JQuery -->
		<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="{{ site.baseurl }}/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="{{ site.baseurl }}/js/mdb.min.js"></script>
		<!-- Personal script -->
		<script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>

	</body>


</html>