<!DOCTYPE html>
<html lang="en">

	<!--Head-->
{% include head.html %}
	<!--/Head-->


	<body id="top-section">

		<!--Intro-->
{% include intro.html %}
		<!--/Intro-->

		<!--Navigation-->
{% include navigation.html %}
		<!--/Navigation-->


		<main id="main-content">
			<div class="row">
				<div class="col-md-12">
					<div class="tab-content mb-5">
						{% for p in site.pages %} {% if p.title %}
						{{ p.content }}
						{% endif %} {% endfor %}
					</div>
				</div>
			</div>

		</main>

		<!--Footer-->
{% include footer.html %}
		<!--/Footer-->



	</body>

</html>