<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Bertrand Choubert, Full-Stack Web Developer and Conceptor at Lyon, France. I design and develop innovative websites with modern technologies and languages.">
    	<meta name="keywords" content="conceptor, developer, bertrand, choubert, website, web, front, front-end, back, back-end, full-stack, engineer, cs, it, computer, science, responsive, enthusiast, passionate">

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>


		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

		<!-- Material Design Bootstrap -->
		<link href="/css/mdb.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/css/main.css" rel="stylesheet">

		<!-- Favicons -->
		<link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
		<link href="{{ site.baseurl }}/favicon.ico" rel="icon">
	</head>


	<body id="top-section">

		<!--Header-->
		<header>

			<!--Header Container-->
			<div id="headerContainer" class="view jarallax aqua-gradient" data-jarallax="{speed: 1.5}" data-jarallax-original-styles="null">

				<!--Logo Container-->
				<div id="logoContainer" class="col-md-8 mx-auto">

					<!--Logo SVG-->
					<svg id="logoSvg" class="animated pulse" viewBox="0 0 400.000000 400.000000" xmlns="http://www.w3.org/2000/svg">
						<g transform="translate(20, 40) scale(0.3, 0.3)" stroke="none">
							<path fill="#FFFFFF" d="M366.2,483.4L732.4-4.8v751H581.9V445.7L366.2,734.1L150.5,445.7v300.5H0v-751L366.2,483.4z"></path>
							<path fill="#EEEEEE" d="M1177.4,0 1177.4,741.4 732.7,335.7 732.7,741.4 732.4,741.4 732.4,135.1 1028.9,405.2 1028.9,0"></path>
						</g>
					</svg>
					<!--/Logo SVG-->

					<!--Title-->
					<h1 class="h5 font-up white-text mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">
						Michael Hedaitulla's Portfolio
					</h1>
					<!--/Title-->

				</div>
				<!--/Logo Container-->

				Divider?
				<div class="py-5 wave3-container"></div>

				<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;" id="jarallax-container-0">
					<div style="background-position: 50% 50%; background-size: 100% auto; background-repeat: no-repeat no-repeat; background-image: url(&quot;linear-gradient(40deg, rgb(32, 150, 255), rgb(5, 255, 163)&quot;); position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"></div>
				</div>
				/Divider?

			</div>
			<!--/Header Container-->


			<!--Introduction Container-->
			<div id="aboutme" class="container">

				<!--Introduction Section-->
				<section class="section team-section">

					<!--Introduction Row-->
					<div class="row text-center">

						<!--Offset Div-->
						<div class="col-md-12 mb-r" style="margin-top: -100px;">

							<!--Image-->
							<div class="avatar">
								<img src="img/me.jpg" class="rounded-circle z-depth-1" alt="Michael Hedaitulla's picture">
							</div>
							<!--/Image-->

							<!--Name-->
							<h3 class="my-3 font-bold">
								<strong>Michael Hedaitulla</strong>
							</h3>
							<!--/Name-->

							<!--Description-->
							<h6 class="font-bold mb-4">
								<span class="blue-text">
									Software Developer
								</span>
								<br>
								Studies and Development French Engineer
							</h6>
							<!--/Description-->

							<!--Social Media-->
							<a class="icons-sm fb-ic" href="https://www.linkedin.com/in/michael-hedaitulla" target="_blank" title="Michael Hedaitulla's LinkedIn">
								<i class="fa fa-linkedin blue-text"></i>
							</a>

							<a class="icons-sm tw-ic" href="https://github.com/multinerd" target="_blank" title="Michael Hedaitulla's GitHub">
								<i class="fa fa-github grey-text"></i>
							</a>
							<!--Social Media-->

							<!--About Me-->
							<p class="mt-5">
								Design, development, management and organization, that is my definition of IT.
								<br>
								<br> By nature, I have perseverance, and I'm rigorous, enthusiastic, never fully satisfied, and always
								listening. I began web development at 12, which is now my preferred field. I am currently a French
								student in IT engineering (fifth and last year),and concepteor DevOps. I'm trained to develop
								innovative websites in modern languages.
								<br>
								<br> I train myself with a lot of online trainings, on websites like uDemy, Microsoft Virtual Academy,
								and others because front-end languages change every day.
								<br>
								<br> Passionate about IT, but also aeronautics and music creation, I am interested in innovation
								in multiple fields, which permits me to learn new things about them!
							</p>
							<!--About Me-->

						</div>
						<!--/Offset Div-->

					</div>
					<!--/Introduction Row-->


				</section>
				<!--/Introduction Section-->

			</div>
			<!--/Introduction Container-->

		</header>
		<!--/Header-->


		<!--Navigation-->
		{% include navigation.html %}
		<!--/Navigation-->

		<!--Navigation-->
		{% include navigation.html %}
		<!--/Navigation-->


		<nav class="navbar sticky-top navbar-dark aqua-gradient navbar-expand-md">

		<!-- Navbar brand -->
			<a class="navbar-brand" href="#">
				<img src="assets/wfavicon.png" alt="" height="30">
				<!--<a class="navbar-brand" href="/">Multinerd ❤️</a> -->
			</a>

		<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

		<!-- Collapsible content -->
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

				 <!--Links -->
				<ul class="navbar-nav nav nav-tabs">
					{% for p in site.pages %} {% if p.title %} {% if p.url == page.url %}
					<li class="nav-item waves-effect waves-light active"> {% else %}
					<li class="nav-item waves-effect waves-light"> {% endif %}
						<a id="aPanel{{ p.title }}" class="nav-link waves-effect waves-light" href="#panel{{ p.title }}" data-toggle="tab" role="tab" aria-selected="false">
							<i class="fa {{p.faicon}}" aria-hidden="true"></i>
							{{ p.title }} {% if p.url == page.url %}
							<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li> {% endif %} {% endfor %}
				</ul>

				<ul class="navbar-nav smooth-scroll">
					<li class="nav-item">
						<a class="nav-link waves-effect waves-light" href="#footer">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							Contact
						</a>
					</li>
				</ul>
				 <!--/Links-->
			</div>
		</nav>
		<!--/Nav-->


		<main id="main-content">
			<div class="row">
				<div class="col-md-12">
					<div class="tab-content mb-5">
						{% for p in site.pages %} {% if p.title %}
						{{ p.content }}
						{% endif %} {% endfor %}
					</div>
				</div>
			</div>

		</main>

		<!--Footer-->
{% include footer.html %}
		<!--/Footer-->


	<!--Scroll To Top-->
	<!--<div class="fixed-action-btn smooth-scroll float-right" style="bottom: 45px; right: 24px;">-->
	<!--<a href="#top-section" class="btn-floating btn-sm red">-->
	<!--<i class="fa fa-arrow-up"></i>-->
	<!--</a>-->
	<!--</div>-->
	<!--/Scroll To Top-->


		<!-- JQuery -->
		<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="/js/mdb.min.js"></script>
		<!-- Personal script -->
    	<script type="text/javascript" src="/js/script.js"></script>
		<script>
       		new WOW().init();
     	</script>

	</body>

</html>