	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Bertrand Choubert, Full-Stack Web Developer and Conceptor at Lyon, France. I design and develop innovative websites with modern technologies and languages.">
		<meta name="keywords" content="conceptor, developer, bertrand, choubert, website, web, front, front-end, back, back-end, full-stack, engineer, cs, it, computer, science, responsive, enthusiast, passionate">

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>


		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

		<!-- Material Design Bootstrap -->
		<link href="/css/mdb.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/css/main.css" rel="stylesheet">

		<!-- Favicons -->
		<link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
		<link href="{{ site.baseurl }}/favicon.ico" rel="icon">

		<style type="text/css" id="#jarallax-clip-0">
			#jarallax-container-0 {
				clip: rect(0 1680px 700px 0);
				clip: rect(0, 1680px, 700px, 0);
			}
		</style>
	</head>