<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	<!--Head-->
{% include head.html %}
    <!--/Head-->


    <body id="topsection" class="black-skin">

        <!--Navigation -->
{% include nav.html %}
        <!--/Navigation -->

        <main class="mt-5">
	{{ content }}
        </main>

        <!--Footer-->
{% include footer.html %}
        <!--/Footer-->

        <!--Scroll To Top-->
{% include scrolltotop.html %}
		<!--/Scroll To Top-->

{% include scripts.html %}


	</body>


</html>