<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	<!--Head-->
{% include head.html %}
    <!--/Head-->


    <body id="topsection" class="black-skin">

        <!--Navigation -->
{% include nav.html %}
        <!--/Navigation -->

        <main class="mt-5">
	{{ content }}
        </main>

        <!--Footer-->
{% include footer.html %}
        <!--/Footer-->

        <!--Scroll To Top-->
{% include scrolltotop.html %}
		<!--/Scroll To Top-->

        <!-- JQuery -->
		<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/js/popper.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/mdb.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
        <script type="text/javascript" src="/js/init.js"></script>

	</body>


</html>