



//Begin Jobs
.westernBeefColor,
a.westernBeefColor,
a.westernBeefColor:link,
a.westernBeefColor:focus,
a.westernBeefColor:active,
a.westernBeefColor:hover {
  color: #F7931E;
}

.westernBeefBorder,
.card.westernBeefBorder {
  border-left: 2em solid #F7931E;
}

.westernBeefBGColor {
  background-color: #F7931E;
}
//End Jobs